<head>
  <meta charset="utf-8">
  <title>Mustache Templates Demo!</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tachyons/4.8.0/tachyons.min.css">
  <link rel="stylesheet" href="./styles.css">
</head>