<article class="robotProfile">
  <img class="pic" src="{{avatar}}" alt="{{name}}">
    <h3>{{name}}</h3>
    <p>{{job}}</p>
    <p>{{company}}</p>
    {{^company}}<span class = "unemployed">Available for hire</span>{{/company}}
</article>