<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="./styles.css"/>
    </head>
    <body>
    <h1>Brobots for Hire</h1>
        <div class="container">
            {{#robots}}
                {{>_robot}}
            {{/robots}}
        </div>
    </body>
</html>